.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
.history
.ionide
.vscode/*.code-snippets
*.code-workspace
secrets/
.secrets/
token.txt
.token/txt
.env
__pycache__
.__pycache__
Include
Lib
Scripts
pyvenv.cfg
PyGProj\Project\code\__pycache__
PyGProj/Project/code/__pycache__/*
