nextcord
nextcord-ext-activities
nextcord-ext-ipc
nextcord-ext-menus
aiosqlite
algoliasearch
base65536
dnspython
motor
aiohttp
humanfriendly
requests
datetime
asyncio
nextwave
typing
python-dotenv
parsedatetime
pbwrap
psutil
pymongo
PyNaCl
pyparsing
quickchart.io
rapidfuzz
requests-toolbelt
typing_extensions
TagScriptEngine
urllib3
webcolors
nextcordUtils