.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
.history
.ionide
.vscode/*.code-snippets
*.code-workspace
secrets/
.secrets/
token.txt
.token/txt
__pycachache__/
.env
.__pycachache__/
__pycache__
.__pycache__
cogs/__pycache__/